doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="style.css")
        script(src="mqttLindaForBrowser.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        title mqtt_linda
    body
        h1 #{tupleSpace} / #{JSON.stringify(watchTuple)}
        h2 write
        p
            button(id="write-button") #{JSON.stringify(watchTuple)}
        p %curl -d 'tuple=#{JSON.stringify(watchTuple)}' #{httpHost}
        h2 watch #{JSON.stringify(watchTuple)}
        div(id="main" data-topic=JSON.stringify(topic), data-port=(port), data-watch=JSON.stringify(watchTuple))
            ul(id='content')
        script(src="index.js")


